.container {
    margin-top: 25px;
}

.telnet-panel {
    margin-top: 25px;
}

.screen {
  /* pointer-events: none; */
  width: 1024px;
  height: 768px;
  background: gray;
  display: block;
}

.notification-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.footer {
  margin-top: 16px;
  text-align: center;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
}