<div class="view">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>HHM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput placeholder="Username"
                       [(ngModel)]="username" name="username"
                       required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput placeholder="Password"
                       [(ngModel)]="password"
                       type="password"
                       name="password"
                       required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
      <mat-bar-button (click)="login()" [options]="btnOpts">
      </mat-bar-button>
    </mat-card-actions>
  </mat-card>
</div>