<mat-toolbar color="primary" *ngIf="!router.url.startsWith('/login')">
  <div class="row">
    <a class="link" [routerLink]="['/']">HHM</a>
    <button mat-raised-button color="accent"
            [queryParams]="filterService.currentFilterQueryParams"
            [routerLink]="['/dashboard']">Dashboard</button>
    <button mat-raised-button color="accent" [routerLink]="['/logs']">Logs</button>
    <button mat-raised-button color="accent" [routerLink]="['/remotedesctop']">RemoteDesctop</button>    
  </div>
  <div class="row">
    <ng-container *ngIf="serviceStatus$ | async as status">
      <app-status-icon [status]="status.status"></app-status-icon>
    </ng-container>
  </div>
</mat-toolbar>

<div class="container grid-xl col-gapless">
  <div class="columns">
    <div class="column col-12 page-view">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
